@using wencove.Model


@Html.DevExpress().GridLookup(settings =>
{
    settings.Properties.Caption = "Articulo:";
    settings.Name = "gridLookup";
    settings.GridViewProperties.CallbackRouteValues = new { Controller = "OrdenCompra", Action = "MultiSelectPartial", CurrentCategory = Model.codigo };

    settings.KeyFieldName = "codigo";

    // /settings.CommandColumn.Visible = true;
    // settings.CommandColumn.ShowSelectCheckbox = false;
    settings.Columns.Add("codigo").Visible = false;

    settings.Columns.Add("description");
    settings.Columns.Add("unidad");

    settings.Width = Unit.Percentage(100);
    settings.Properties.SelectionMode = DevExpress.Web.GridLookupSelectionMode.Single;
    settings.Properties.TextFormatString = "{0}";
    settings.Properties.MultiTextSeparator = ", ";
    settings.Properties.Width = 250;

    settings.GridViewProperties.Settings.ShowFilterRow = true;
    settings.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;
    settings.GridViewProperties.SettingsPager.EnableAdaptivity = true;
    settings.GridViewProperties.SettingsPager.PageSize = 7;

    settings.GridViewClientSideEvents.RowClick = "OnGridArticuloRowClick ";
    settings.GridViewProperties.SetStatusBarTemplateContent(c =>
    {
        ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
        Html.DevExpress().Button(btnSettings =>
        {
            btnSettings.Name = "btnClose";
            btnSettings.UseSubmitBehavior = false;
            btnSettings.Text = "Close";
            btnSettings.ClientSideEvents.Click = "CloseGridLookup";
        }).Render();
        ViewContext.Writer.Write("</div>");
    });
    //  settings.GridViewClientSideEvents.RowDblClick=""
    settings.DataBound = (sender, e) =>
    {
        var gridLookup = (MVCxGridLookup)sender;
        gridLookup.GridView.Width = 250;
    };
}).BindList(GridViewHelper.getArticulos()).Bind(Model.codigo).GetHtml()