@using wencove.conexion.model.neg
@using wencove.conexion.model.entity

<h3 class="section-caption contents-caption"> Menú</h3>

@Html.DevExpress().NavBar(
       settings =>
       {
           var rol2 = HttpContext.Current.Session["Rol"];
           int rol = HttpContext.Current.Session["Rol"] == null ? -1 : (int)HttpContext.Current.Session["Rol"];
           int user_id = HttpContext.Current.Session["user_id"] == null ? 0 : (int)HttpContext.Current.Session["Rol"];
           // int rol = HttpContext.Current.Session["Rol"] == null ? 1 : (int)HttpContext.Current.Session["Rol"];
           settings.Name = "nbFeatures";
           settings.AllowExpanding = true;
           settings.AllowSelectItem = true;
           settings.AutoCollapse = false;
           settings.EnableHotTrack = true;
           settings.EnableAnimation = true;
           settings.SaveStateToCookies = false;
           settings.Width = Unit.Parse("100%");
           // solucion rapida
           RoleNeg roleNeg = new RoleNeg();
           List<ModuloAsignacion> modulos=roleNeg.lista(rol);
           settings.Groups.Add(group =>
           {

               //guardar la seccion los modulos y programas
               group.Visible = roleNeg.moduloAsigned(modulos, "seguridad") == true ? true : false;
               group.Text = "seguridad";
               if (roleNeg.moduloAsigned(modulos, "usuarios"))
               {
                   group.Items.Add("Usuarios", "ratas", "~/Content/NavBar/BO_Scheduler.png", "GridView");
               }
               if (roleNeg.moduloAsigned(modulos, "roles"))
               {
                   group.Items.Add("Roles", "ratas", "~/Content/NavBar/BO_Scheduler.png", "role");
               }
               if (roleNeg.moduloAsigned(modulos, "asignar-rol"))
               {
                   group.Items.Add("Asignar roles", "ratas", "~/Content/NavBar/BO_Scheduler.png", "userview");
               }
               if (roleNeg.moduloAsigned(modulos, "asignar"))
               {
                   group.Items.Add("Asignar", "ratas", "~/Content/NavBar/BO_Scheduler.png", "userview");
               }

           });
           settings.Groups.Add(group =>
           {
               group.Visible = roleNeg.moduloAsigned(modulos, "compras") == true ? true : false;
               group.Text = "Compras";
               if (roleNeg.moduloAsigned(modulos, "orden-compra"))
               {
                   group.Items.Add("orden compra", "ratas", "~/Content/NavBar/BO_Scheduler.png", "GridView");
               }
               if (roleNeg.moduloAsigned(modulos, "requerimiento-aprobado"))
               {
                   group.Items.Add("requerimiento aprobado", "ratas", "~/Content/NavBar/BO_Scheduler.png", "GridView");
               }
               if (roleNeg.moduloAsigned(modulos, "requerimiento"))
               {
                   group.Items.Add("requerimiento", "ratas", "~/Content/NavBar/BO_Scheduler.png", "GridView");
               }
           });
           settings.Groups.Add(group =>
           {
               group.Visible = roleNeg.moduloAsigned(modulos, "ventas") == true ? true : false;
               group.Text = "Ventas";
               if (roleNeg.moduloAsigned(modulos, "cotizaciones"))
               {
                   group.Items.Add("cotizaciones", "ratas", "~/Content/NavBar/BO_Scheduler.png", "GridView");
               }
           });
       }).GetHtml()


